body{
    border: 0;


}
main
{
height: 75%;
}
header
{
    position: absolute;
    top: 0px;
    left: 0px;
    padding-top: 1%;
    padding-right: 1%;
    width: 99%;
    height: 10%;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: space-between;
    background-color: #153448;
    color: aliceblue;

}
header input{
    height: 25%;

}

header img{
    margin: 0;
}
nav
{
    height: 5%;
    background-color: #3C5B6F;
}

footer
{
    height: 10%;
}

#logo
{
    width: 29%;
}